storage/cache
storage/session
storage/modification
storage/logs
storage/download
storage/upload
public/config.php
public/admin/config.php
public/image/cache
.vscode
uni_*.php
unishop2*
uni_*.twig
unishop*
public/image/catalog/demo
error.log